@model Projet.Album

@{
    ViewBag.Title = "Details";
}

    <h2>Détails</h2>
    <h1>Album</h1>

<div>
    

    <dl class="dl-horizontal">
        <dt>
            Compositeur
        </dt>

        <dd>
            @ViewBag.Nom  @ViewBag.Prenom
        </dd>
        <dt>
            Titre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titre_Album)
        </dd>

        <dt>
            Année
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Annee_Album)
        </dd>

        <dd>
            <img src=@Url.Action("Pochette", "Albums", new { id = Html.DisplayFor(model => model.Code_Album)    }) width="350px" />
        </dd>

        <dt>
            Editeur
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Editeur.Nom_Editeur)
        </dd>

        <dt>
            Genre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre.Libelle_Abrege)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Morceaux", "ListeEnregistrements", "Enregistrements", new { id = Model.Code_Album }, null) </br> </br>
    @Html.ActionLink("Album Précédent", "Details", new { id = Model.Code_Album - 1 }) |
    @Html.ActionLink("Album Suivant", "Details", new { id = Model.Code_Album + 1 })
</p>