@model IEnumerable<Projet.Oeuvre>
@{
    ViewBag.Title = "ListeOeuvresFromCompositeur";
}

<h2>Oeuvres</h2>
<h1>@ViewBag.Nom  @ViewBag.Prenom</h1>
<p>
    @Html.ActionLink("Compositeur", "Details", "Musiciens", new { id = ViewBag.Code }, null) </br>
</p>

<table class="table">


    <tr>
        <th>
            Titre
        </th>

        <th>
            Type
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink((item.Titre_Oeuvre), "Details", new { id = item.Code_Oeuvre })
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.Type_Morceaux.Libelle_Type)
            </td>
        </tr>
    }

</table>

