@model Projet.Musicien

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Compositeur</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nom
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_Musicien)
        </dd>

        <dt>
            Prénom
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prenom_Musicien)
        </dd>

        <dt>
            Année de naissance
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Annee_Naissance)
        </dd>

        <dt>
            Année de décès
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Annee_Mort)
        </dd>

        <dd>
            <img src=@Url.Action("Photo", "Musiciens", new { id = Html.DisplayFor(model => model.Code_Musicien)   }) />
        </dd>

        <dt>
            Genre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre.Libelle_Abrege)
        </dd>

        <dt>
            Pays
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pays.Nom_Pays)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Retour", "ListeCompositeurs")
</p>
